@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";
@import "../../css/filters.css";

.stage-header-wrapper {
    position: absolute;
    top: 0;
}
[dir="ltr"] .stage-header-wrapper {
    left: 0;
}
[dir="rtl"] .stage-header-wrapper {
    right: 0;
}

.stage-header-wrapper-overlay {
    position: fixed;
    background-color: $fullscreen-accent;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-stage-header;
}
.stage-header-wrapper-overlay.embedded {
    background-color: transparent;
}

.stage-menu-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: $stage-menu-height;
    padding-top: $space;
    padding-bottom: $space;
}

.stage-size-row {
    display: flex;
}

.stage-size-toggle-group {
    display: flex;
}

.stage-size-row > *, .unselect-wrapper {
    /* Use a white background so semi-transparent selection states look correct */
    background-color: $ui-secondary;
    border-radius: $form-radius;
}

[dir="ltr"] .stage-size-toggle-group,
[dir="ltr"] .settings-button {
    margin-right: .2rem;
}

[dir="rtl"] .stage-size-toggle-group,
[dir="rtl"] .settings-button {
    margin-left: .2rem;
}

.stage-button {
    display: block;
    border: 1px solid $ui-black-transparent;
    border-radius: $form-radius;
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);
    background: $ui-white;
    padding: 0.375rem;
    user-select: none;
    cursor: pointer;
    margin-right: .2rem;
}

.stage-button:active {
    background-color: $looks-transparent;
}

.stage-button-icon {
    width: 100%;
    height: 100%;
    filter: $filter-icon-gray;
}

[dir="rtl"] .stage-button-icon {
    transform: scaleX(-1);
}

.fullscreen-buttons-row {
    /* relied on by addons */
    display: flex;
}
.fullscreen-buttons-row:last-child {
    margin-right: .2rem;
}
.btn{
    padding:4px;
    color:white;
    font-size:10px;
    background: $ui-secondary;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    filter: var(--filter-icon-gray);
}
.btn:not(.droppable):dragover {
  display: none; /* 隐藏元素 */
}

.coordinate-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $ui-secondary;
  border-radius: $form-radius;
  overflow: hidden;
  margin-right: .2rem;
}

.coordinate-controls .stage-button {
  margin: 0;
  padding: 0.25rem;
  border: 1px solid $ui-black-transparent;
  border-radius: 0;
  background: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coordinate-controls .stage-button:not(:last-child) {
  border-right: none;
}

[dir="rtl"] .coordinate-controls .stage-button:not(:last-child) {
  border-left: none;
  border-right: 1px solid $ui-black-transparent;
}

.coordinate-controls .stage-button:first-child,
[dir="rtl"] .coordinate-controls .stage-button:last-child {
  border-radius: $form-radius 0 0 $form-radius;
}

.coordinate-controls .stage-button:last-child,
[dir="rtl"] .coordinate-controls .stage-button:first-child {
  border-radius: 0 $form-radius $form-radius 0;
}

.coordinate-controls .stage-button:active {
  background-color: $looks-transparent;
}

.coordinate-controls .stage-button:focus::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid $looks-secondary;
}

.coordinate-controls .stage-button:focus:first-child::before,
[dir="rtl"] .coordinate-controls .stage-button:focus:last-child::before {
  border-radius: $form-radius 0 0 $form-radius;
}

.coordinate-controls .stage-button:focus:last-child::before,
[dir="rtl"] .coordinate-controls .stage-button:focus:first-child::before {
  border-radius: 0 $form-radius $form-radius 0;
}

.coordinate-controls .stage-button img {
  display: block;
  transition: transform 0.1s;
  filter: $filter-icon-gray;
}

.coordinate-controls .stage-button:active img {
  filter: none;
}

.openInEditorContainer {
    display: flex;
    align-items: center;
    /* Provide horizontal spacing between Open in Editor and adjacent buttons */
    margin-right: .5rem;
}
.openInEditorLink {
    font-weight: bold;
    text-decoration: none;
    color: $ui-black-transparent;
}

[dir="rtl"] .openInEditorContainer {
    /* Mirror spacing for RTL */
    margin-right: 0;
    margin-left: .5rem;
}