name: Build and Deploy to cf-page Branch

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Clean cache and node_modules
        run: |
          rm -rf node_modules ~/.bun/install/cache
          rm -f bun.lockb

      - name: Install dependencies
        run: bun install  --loglevel=info --no-cache

      - name: Prepublish
        run: bun run prepublishOnly

      - name: Build
        run: bun run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: ./

      - name: Deploy to cf-page branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          clean: false    
          publish_branch: cf-page
